*.log
*.gz
*.vs
*__pycache__
*.pyproj
*.sln
*.idea

Data/*
!Data/README.md
!Data/PowershellSCP

Models/*
!Models/README.md

Plots/*
!Plots/README.md

EulerPlots/*

venv
venv_upgrade

BatchRL/lsf.*
BatchRL/test.pdf

python_notifyer.txt
rest_login.txt

*client_secrets.json
BatchRL/settings.yaml
BatchRL/credentials.json

Temp
opcua_login.txt
email_receiver_debug_login.txt
email_receiver_login.txt
notify_email_login.txt
